<div class="header">
  <div>
    <h2>Products</h2>
    <div class="sub">User: {{ userId }}</div>
    <div style="opacity: .6; font-size: 12px;">loading = {{ loading }}</div>
  </div>

  <mat-form-field appearance="outline" class="search">
    <mat-label>Search</mat-label>
    <input
      matInput
      [(ngModel)]="query"
      (keyup.enter)="load()"
      placeholder="iphone, airpods..."
    />
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="load()" [disabled]="loading">
    Search
  </button>
</div>

<div class="center" *ngIf="loading">
  <mat-spinner diameter="36"></mat-spinner>
</div>

<div class="grid" *ngIf="!loading">
  <mat-card class="product" *ngFor="let p of products">
    <mat-card-title>{{ p.name }}</mat-card-title>
    <mat-card-subtitle>{{ p.sku }} • {{ p.category }}</mat-card-subtitle>

    <mat-card-content>
      <div class="price">{{ p.price }} {{ p.currency }}</div>

      <div class="meta" *ngIf="p.attributes">
        <span *ngFor="let kv of (p.attributes | keyvalue)" class="chip">
          {{ kv.key }}: {{ kv.value }}
        </span>
      </div>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-stroked-button (click)="addToCart(p)">Add to Cart</button>
    </mat-card-actions>
  </mat-card>
</div>